<a href="https://colab.research.google.com/github/navneetkrc/Recommender_systems/blob/master/Collaborative_Filtering_Model_with_TF_using_Encoder_Decoder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is colab implementation of collaboratory recommender system based on medium article by Susan Li.
[original notebook](https://github.com/susanli2016/Machine-Learning-with-Python/blob/master/Collaborative%20Filtering%20Model%20with%20TensorFlow.ipynb)

The collaborative filter approach focuses on finding users who have given similar ratings to the same books, thus creating a link between users, to whom will be suggested books that were reviewed in a positive way. In this way, we look for associations between users, not between books.

In [0]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

In [2]:
!wget http://www2.informatik.uni-freiburg.de/~cziegler/BX/BX-CSV-Dump.zip

--2019-09-20 06:06:24--  http://www2.informatik.uni-freiburg.de/~cziegler/BX/BX-CSV-Dump.zip
Resolving www2.informatik.uni-freiburg.de (www2.informatik.uni-freiburg.de)... 132.230.105.133
Connecting to www2.informatik.uni-freiburg.de (www2.informatik.uni-freiburg.de)|132.230.105.133|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26085508 (25M) [application/zip]
Saving to: ‘BX-CSV-Dump.zip’

BX-CSV-Dump.zip     100%[===================>]  24.88M  60.4MB/s    in 0.4s

2019-09-20 06:06:24 (60.4 MB/s) - ‘BX-CSV-Dump.zip’ saved [26085508/26085508]

In [3]:
!unzip /content/BX-CSV-Dump.zip

Archive:  /content/BX-CSV-Dump.zip
  inflating: BX-Book-Ratings.csv
  inflating: BX-Books.csv
  inflating: BX-Users.csv

In [4]:
rating = pd.read_csv('/content/BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
user = pd.read_csv('/content/BX-Users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
book = pd.read_csv('/content/BX-Books.csv', sep=';', error_bad_lines=False, encoding="latin-1")
book_rating = pd.merge(rating, book, on='ISBN')
cols = ['Year-Of-Publication', 'Publisher', 'Book-Author', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L']
book_rating.drop(cols, axis=1, inplace=True)
book_rating.head()

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   User-ID        ISBN  Book-Rating            Book-Title
0   276725  034545104X            0  Flesh Tones: A Novel
1     2313  034545104X            5  Flesh Tones: A Novel
2     6543  034545104X            0  Flesh Tones: A Novel
3     8680  034545104X            5  Flesh Tones: A Novel
4    10314  034545104X            9  Flesh Tones: A Novel

In [5]:
book_rating.head(3)

   User-ID        ISBN  Book-Rating            Book-Title
0   276725  034545104X            0  Flesh Tones: A Novel
1     2313  034545104X            5  Flesh Tones: A Novel
2     6543  034545104X            0  Flesh Tones: A Novel

In [6]:
rating_count = (book_rating.
     groupby(by = ['Book-Title'])['Book-Rating'].
     count().
     reset_index().
     rename(columns = {'Book-Rating': 'RatingCount_book'})
     [['Book-Title', 'RatingCount_book']]
    )
rating_count.head()

                                          Book-Title  RatingCount_book
0   A Light in the Storm: The Civil War Diary of ...                 4
1                              Always Have Popsicles                 1
2               Apple Magic (The Collector's series)                 1
3   Ask Lily (Young Women of Faith: Lily Series, ...                 1
4   Beyond IBM: Leadership Marketing and Finance ...                 1

In [7]:
threshold = 25
rating_count = rating_count.query('RatingCount_book >= @threshold')
rating_count.head()

                          Book-Title  RatingCount_book
75                      'Salem's Lot                47
203                   10 Lb. Penalty                61
422                   101 Dalmatians                37
673  14,000 Things to Be Happy About                28
697               16 Lighthouse Road                65

In [8]:
book_rating.head(3)

   User-ID        ISBN  Book-Rating            Book-Title
0   276725  034545104X            0  Flesh Tones: A Novel
1     2313  034545104X            5  Flesh Tones: A Novel
2     6543  034545104X            0  Flesh Tones: A Novel

In [0]:
user_rating = pd.merge(rating_count, book_rating, left_on='Book-Title', right_on='Book-Title', how='left')

In [10]:
user_rating.head(3)

     Book-Title  RatingCount_book  User-ID        ISBN  Book-Rating
0  'Salem's Lot                47     8936  067103975X            0
1  'Salem's Lot                47   172245  067103975X            0
2  'Salem's Lot                47   189835  067103975X            5

In [11]:
user_count = (user_rating.
     groupby(by = ['User-ID'])['Book-Rating'].
     count().
     reset_index().
     rename(columns = {'Book-Rating': 'RatingCount_user'})
     [['User-ID', 'RatingCount_user']]
    )
user_count.head()

   User-ID  RatingCount_user
0        8                 2
1        9                 2
2       10                 1
3       14                 1
4       16                 2

In [12]:
threshold = 20
user_count = user_count.query('RatingCount_user >= @threshold')
user_count.head()

     User-ID  RatingCount_user
52       243                68
54       254               139
89       487                21
96       507                61
115      638                51

In [0]:
combined = user_rating.merge(user_count, left_on = 'User-ID', right_on = 'User-ID', how = 'inner')

In [14]:
combined.head(3)

            Book-Title  RatingCount_book  ...  Book-Rating RatingCount_user
0         'Salem's Lot                47  ...            0              177
1  1st to Die: A Novel               509  ...            0              177
2       A Case of Need               236  ...            0              177

[3 rows x 6 columns]

In [15]:
combined.shape

(263467, 6)

In [16]:
print('Number of unique books: ', combined['Book-Title'].nunique())
print('Number of unique users: ', combined['User-ID'].nunique())

Number of unique books:  5850
Number of unique users:  3192

Normalize the ratings.

In [0]:
scaler = MinMaxScaler()
combined['Book-Rating'] = combined['Book-Rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(combined['Book-Rating'].values.reshape(-1,1)))
combined['Book-Rating'] = rating_scaled

Abd build the user book matrix.

In [18]:
combined = combined.drop_duplicates(['User-ID', 'Book-Title'])
user_book_matrix = combined.pivot(index='User-ID', columns='Book-Title', values='Book-Rating')
user_book_matrix.fillna(0, inplace=True)

users = user_book_matrix.index.tolist()
books = user_book_matrix.columns.tolist()

user_book_matrix = user_book_matrix.as_matrix()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

tf.placeholder only available in v1, so we have to work around.

In [19]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/compat/v2_compat.py:61: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

We will initialize the TensorFlow placeholder. Then, weights and biases are randomly initialized, the following code are taken from the book: Python Machine Learning Cook Book - Second Edition

In [0]:
num_input = combined['Book-Title'].nunique()
num_hidden_1 = 10
num_hidden_2 = 5

X = tf.placeholder(tf.float64, [None, num_input])

weights = {
    'encoder_h1': tf.Variable(tf.random_normal([num_input, num_hidden_1], dtype=tf.float64)),
    'encoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_hidden_2], dtype=tf.float64)),
    'decoder_h1': tf.Variable(tf.random_normal([num_hidden_2, num_hidden_1], dtype=tf.float64)),
    'decoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_input], dtype=tf.float64)),
}

biases = {
    'encoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'encoder_b2': tf.Variable(tf.random_normal([num_hidden_2], dtype=tf.float64)),
    'decoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'decoder_b2': tf.Variable(tf.random_normal([num_input], dtype=tf.float64)),
}

Now, we can build the encoder and decoder model, as follows:

In [0]:
def encoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['encoder_h1']), biases['encoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['encoder_h2']), biases['encoder_b2']))
    return layer_2

def decoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['decoder_h1']), biases['decoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['decoder_h2']), biases['decoder_b2']))
    return layer_2

We will construct the model and the predictions

In [0]:
encoder_op = encoder(X)
decoder_op = decoder(encoder_op)

y_pred = decoder_op

y_true = X

define loss function and optimizer, and minimize the squared error, and define the evaluation metrics

In [23]:
loss = tf.losses.mean_squared_error(y_true, y_pred)
optimizer = tf.train.RMSPropOptimizer(0.03).minimize(loss)
eval_x = tf.placeholder(tf.int32, )
eval_y = tf.placeholder(tf.int32, )
pre, pre_op = tf.metrics.precision(labels=eval_x, predictions=eval_y)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/losses/losses_impl.py:121: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/training/rmsprop.py:119: calling Ones.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/metrics_impl.py:2027: div (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Deprecated in favor of operator or tf.math.divide.

Initialize the variables. Because TensorFlow uses computational graphs for its operations, placeholders and variables must be initialized.

In [0]:
init = tf.global_variables_initializer()
local_init = tf.local_variables_initializer()
pred_data = pd.DataFrame()

We can finally start to train our model.

We split training data into batches, and we feed the network with them.

We train our model with vectors of user ratings, each vector represents a user and each column a book, and entries are ratings that the user gave to books. 

After a few trials, I discovered that training model for 5 epochs with a batch size of 10 would be consum enough memory. This means that the entire training set will feed our neural network 20 times, every time using 50 users.

In [25]:
with tf.Session() as session:
    epochs = 100
    batch_size = 35

    session.run(init)
    session.run(local_init)

    num_batches = int(user_book_matrix.shape[0] / batch_size)
    user_book_matrix = np.array_split(user_book_matrix, num_batches)
    
    for i in range(epochs):

        avg_cost = 0
        for batch in user_book_matrix:
            _, l = session.run([optimizer, loss], feed_dict={X: batch})
            avg_cost += l

        avg_cost /= num_batches

        print("epoch: {} Loss: {}".format(i + 1, avg_cost))

    user_book_matrix = np.concatenate(user_book_matrix, axis=0)

    preds = session.run(decoder_op, feed_dict={X: user_book_matrix})

    pred_data = pred_data.append(pd.DataFrame(preds))

    pred_data = pred_data.stack().reset_index(name='Book-Rating')
    pred_data.columns = ['User-ID', 'Book-Title', 'Book-Rating']
    pred_data['User-ID'] = pred_data['User-ID'].map(lambda value: users[value])
    pred_data['Book-Title'] = pred_data['Book-Title'].map(lambda value: books[value])
    
    keys = ['User-ID', 'Book-Title']
    index_1 = pred_data.set_index(keys).index
    index_2 = combined.set_index(keys).index

    top_ten_ranked = pred_data[~index_1.isin(index_2)]
    top_ten_ranked = top_ten_ranked.sort_values(['User-ID', 'Book-Rating'], ascending=[True, False])
    top_ten_ranked = top_ten_ranked.groupby('User-ID').head(10)

epoch: 1 Loss: 0.32466490681354815
epoch: 2 Loss: 0.2815089245418926
epoch: 3 Loss: 0.07397989453850212
epoch: 4 Loss: 0.004011785547545815
epoch: 5 Loss: 0.0034141011310966462
epoch: 6 Loss: 0.003323120421955137
epoch: 7 Loss: 0.0032846039726531933
epoch: 8 Loss: 0.0032619239230241093
epoch: 9 Loss: 0.0031687126221176198
epoch: 10 Loss: 0.00306888923796078
epoch: 11 Loss: 0.0030611163404371056
epoch: 12 Loss: 0.003055261546530976
epoch: 13 Loss: 0.0030506344622123864
epoch: 14 Loss: 0.003046881288525413
epoch: 15 Loss: 0.0030437747303109905
epoch: 16 Loss: 0.0030411578098230147
epoch: 17 Loss: 0.0030389154396419015
epoch: 18 Loss: 0.0030369515451449123
epoch: 19 Loss: 0.0030351344631616393
epoch: 20 Loss: 0.0030145291366952135
epoch: 21 Loss: 0.0028637325913123375
epoch: 22 Loss: 0.0028615900210442616
epoch: 23 Loss: 0.0028605115571785924
epoch: 24 Loss: 0.0028595666012184305
epoch: 25 Loss: 0.0028587155860265367
epoch: 26 Loss: 0.00285794095975439
epoch: 27 Loss: 0.002857229978122472
epoch: 28 Loss: 0.0028565707104792307
epoch: 29 Loss: 0.0028559477170826968
epoch: 30 Loss: 0.0028553290924589548
epoch: 31 Loss: 0.002854558401280543
epoch: 32 Loss: 0.0027768983810137096
epoch: 33 Loss: 0.00268412927411251
epoch: 34 Loss: 0.00268334538066903
epoch: 35 Loss: 0.0026829046859907415
epoch: 36 Loss: 0.00268253961137936
epoch: 37 Loss: 0.0026822163209134896
epoch: 38 Loss: 0.0026819199492520355
epoch: 39 Loss: 0.0026816439822541327
epoch: 40 Loss: 0.002681385536401809
epoch: 41 Loss: 0.0026811427273019986
epoch: 42 Loss: 0.00268091415669155
epoch: 43 Loss: 0.002680698602849229
epoch: 44 Loss: 0.002680495010361403
epoch: 45 Loss: 0.0026803023660309858
epoch: 46 Loss: 0.002680119842157832
epoch: 47 Loss: 0.0026799466545376315
epoch: 48 Loss: 0.0026797820509483036
epoch: 49 Loss: 0.0026796254672232893
epoch: 50 Loss: 0.002679476271393699
epoch: 51 Loss: 0.002679333964536724
epoch: 52 Loss: 0.0026791981257662015
epoch: 53 Loss: 0.0026790682484835876
epoch: 54 Loss: 0.0026789440064701243
epoch: 55 Loss: 0.002678825021056192
epoch: 56 Loss: 0.002678710928923645
epoch: 57 Loss: 0.0026786015074761523
epoch: 58 Loss: 0.002678496479107947
epoch: 59 Loss: 0.002678395506086667
epoch: 60 Loss: 0.0026782983683745613
epoch: 61 Loss: 0.002678204931646258
epoch: 62 Loss: 0.0026781148888723374
epoch: 63 Loss: 0.002678028100610271
epoch: 64 Loss: 0.0026779444197417945
epoch: 65 Loss: 0.0026778636070398185
epoch: 66 Loss: 0.0026777854872417155
epoch: 67 Loss: 0.0026777099771936844
epoch: 68 Loss: 0.0026776369566425353
epoch: 69 Loss: 0.002677566224739856
epoch: 70 Loss: 0.0026774976753046386
epoch: 71 Loss: 0.0026774311868044045
epoch: 72 Loss: 0.002677366725977633
epoch: 73 Loss: 0.0026773040791830192
epoch: 74 Loss: 0.002677243236186249
epoch: 75 Loss: 0.002677184038355455
epoch: 76 Loss: 0.0026771264153297295
epoch: 77 Loss: 0.0026770702430180143
epoch: 78 Loss: 0.002677015484320921
epoch: 79 Loss: 0.002676962007471657
epoch: 80 Loss: 0.002676909743388603
epoch: 81 Loss: 0.0026768586038008004
epoch: 82 Loss: 0.0026768085029958695
epoch: 83 Loss: 0.002676759347585695
epoch: 84 Loss: 0.0026767109878934347
epoch: 85 Loss: 0.0026766633893782785
epoch: 86 Loss: 0.0026766163946876486
epoch: 87 Loss: 0.0026765699027576943
epoch: 88 Loss: 0.0026765237843802015
epoch: 89 Loss: 0.0026764778962747736
epoch: 90 Loss: 0.0026764321092331966
epoch: 91 Loss: 0.002676386395111107
epoch: 92 Loss: 0.0026763407539085043
epoch: 93 Loss: 0.0026762952790135046
epoch: 94 Loss: 0.0026762504284116593
epoch: 95 Loss: 0.002676206771386685
epoch: 96 Loss: 0.002676165089584314
epoch: 97 Loss: 0.0026761258435486763
epoch: 98 Loss: 0.0026760889821082026
epoch: 99 Loss: 0.0026760541253139846
epoch: 100 Loss: 0.002676020692368703

In [26]:
top_ten_ranked.loc[top_ten_ranked['User-ID'] == 278582]

          User-ID  ... Book-Rating
18660405   278582  ...    0.073564
18659952   278582  ...    0.061104
18657487   278582  ...    0.047640
18660710   278582  ...    0.046663
18657491   278582  ...    0.044984
18658056   278582  ...    0.042347
18656352   278582  ...    0.041328
18657493   278582  ...    0.040124
18660634   278582  ...    0.039477
18657489   278582  ...    0.038597

[10 rows x 3 columns]

In [27]:
book_rating.loc[book_rating['User-ID'] == 278582].sort_values(by=['Book-Rating'], ascending=False)

        User-ID  ...                                         Book-Title
174885   278582  ...         Chinese Bell Murders (Judge Dee Mysteries)
176582   278582  ...                               Skin Deep, Blood Red
40008    278582  ...   The Left Hand of Darkness (Remembering Tomorrow)
174861   278582  ...                                 Search the Shadows
58156    278582  ...                    The Songcatcher: A Ballad Novel
64570    278582  ...  The No. 1 Ladies' Detective Agency (Today Show...
175958   278582  ...                                The Mists of Avalon
176314   278582  ...  Murdering Mr. Monti: A Merry Little Tale of Se...
174877   278582  ...                                  Blanche Cleans Up
176438   278582  ...                 The Cat Who Brought Down the House
176503   278582  ...  Cetaganda (Bujold, Lois Mcmaster. Vorkosigan A...
176484   278582  ...                            Service of All the Dead
176187   278582  ...  Imitation in Death (Eve Dallas Mysteries (Pape...
175949   278582  ...                               From Doon With Death
176263   278582  ...  Brunswick Gardens (Charlotte &amp; Thomas Pitt...
176290   278582  ...              One Fine Day the Rabbi Bought a Cross
176305   278582  ...                                Incident at Badamya
174882   278582  ...                                  Blanche Passes Go
176584   278582  ...     Daddy's Gone A-Hunting (Wesley Farrell Novels)
176572   278582  ...                            The Jewel That Was Ours
23996    278582  ...                                  I Is for Innocent
60802    278582  ...                                  Two for the Dough
108791   278582  ...                                Death of a Stranger
176517   278582  ...                          Maggody and the Moonbeams
174895   278582  ...                                    The Venus Throw
175303   278582  ...                  Seven Up (A Stephanie Plum Novel)
175596   278582  ...  Hard Eight : A Stephanie Plum Novel (A Stephan...
176171   278582  ...                                      The Wife Test
176139   278582  ...                                   Holiday in Death
176562   278582  ...                              CSI, Miami: Heat Wave
176567   278582  ...  Over the Wine-Dark Sea (Hellenistic Seafaring ...
175905   278582  ...              To the Nines (A Stephanie Plum Novel)
176255   278582  ...                                       Indigo Dying
175763   278582  ...         One for the Money (A Stephanie Plum Novel)
175506   278582  ...         Full Speed (Janet Evanovich's Full Series)
174867   278582  ...                                         Hang Loose
176571   278582  ...  The Gryphon's Skull (Hellenistic Seafaring Adv...
176389   278582  ...  Flatland: A Romance of Many Dimensions (Dover ...
176565   278582  ...  Law and Order Deadline : An Original Law and O...
176486   278582  ...                                         Antarctica
176579   278582  ...                             The Body in Four Parts
176385   278582  ...                                  Thieves' Paradise
176524   278582  ...   Without Pity : Ann Rule's Most Dangerous Killers
14574    278582  ...             Four To Score (A Stephanie Plum Novel)
176331   278582  ...                     Black Hawk Down (Movie Tie-in)
17190    278582  ...  Justice Hall: A Mary Russell Novel (Mary Russe...
175758   278582  ...               A Grave Denied (A Kate Shugak Novel)
175103   278582  ...  Hot Six : A Stephanie Plum Novel (A Stephanie ...
174902   278582  ...                 High Five (A Stephanie Plum Novel)
174891   278582  ...             The Sword of Samurai Cat (Tor Fantasy)
174890   278582  ...                                        Great Harry
174869   278582  ...                   Blanche Among the Talented Tenth
174852   278582  ...                              Children of the Storm
174815   278582  ...     A Greek God at the Ladies' Club (Avon Romance)
174814   278582  ...                                  All Shall Be Well
174809   278582  ...                                   A Share in Death
116741   278582  ...               The Golden One : A Novel of Suspense
46554    278582  ...  Three To Get Deadly : A Stephanie Plum Novel (...
24674    278582  ...                                       Black Notice
175760   278582  ...            Out on a Limb (A Claire Malloy Mystery)

[60 rows x 4 columns]